{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>OTP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Animated Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free Web Designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.min.css' %}" media='all' rel='stylesheet'>
<link href="{% static 'css/style1.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}"> 
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<!-- //web font --> 
</head>
<body>
	<!-- main-agileits -->
	<div class="agileits">
		<h1>OTP Verification</h1>
		<div class="w3-agileits-info">
			<form class='form animate-form' id='form1' action="#" method="POST">
				{% csrf_token %}
				<p class="w3agileits">OTP VERIFICATION</p>
				<div class='form-group has-feedback w3ls'>
					<label class='control-label sr-only' for='username'>Username</label> 
					<input class='form-control' id='mobile' required = "True" minlength="10"  name='mobile' placeholder='Enter Your Mobile Number' type='text'>
					<span class='glyphicon glyphicon-ok form-control-feedback'></span>
				</div>
				
				<div class='submit w3-agile'>
					<input class='btn btn-lg' type='submit' value='Verify'>
                </div>
                
                {% for message in messages %}

                <p id="messages" >{{message}}</p>

                {% endfor %}
			</form>
		</div>	
	</div>	
	<!-- //agileits -->
	<!-- copyright -->
	<div class="w3-agile-copyright">
	</div>
	<!-- //copyright -->  
	<!-- js -->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/formAnimation.js' %}"></script>
	<script src='{% static "js/shake.js" %}'></script>
	<!-- //js -->
</body>
</html>