{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Registration Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Animated Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free Web Designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.min.css' %}" media='all' rel='stylesheet'>
<link href="{% static 'css/style1.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}"> 
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<!-- //web font --> 
</head>
<body>
	<!-- main-agileits -->
	<div class="agileits">
		<h1>Animated Login Form</h1>
		<div class="w3-agileits-info">
			<form class='form animate-form' id='form1' action="" method="POST">
                {% csrf_token %}
				<p class="w3agileits">Register Account</p>
				<div class='form-group has-feedback w3ls'>
					<label class='control-label sr-only' for='username'>Username</label> 
					<input class='form-control' required="True" id='username' name='username' placeholder='Username' type='text'>
					<span class='glyphicon glyphicon-ok form-control-feedback'></span>
				</div>
				<div class='form-group has-feedback wthree'>
					<label class='control-label sr-only' for='email'>Email address</label> 
					<input class='form-control' required="true" id='email' name='email' placeholder='Email address' type='email'><span class='glyphicon glyphicon-ok form-control-feedback'></span>
                </div>
                <div class='form-group has-feedback wthree'>
					<label class='control-label sr-only' for='email'>Phone Number</label> 
					<input class='form-control' required="true" id='email' name='mobile' placeholder='Phone address' type='text'><span class='glyphicon glyphicon-ok form-control-feedback'></span>
				</div>
				<div class='form-group has-feedback agile'>
					<label class='control-label sr-only' for='password'>Password</label> 
					<input class='form-control w3l' id='password' name='password' placeholder='Password' type='password' onkeyup=""><span class='glyphicon glyphicon-ok form-control-feedback'></span>
                </div>
                <div class='form-group has-feedback agile'>
					<label class='control-label sr-only' for='password'>Password</label> 
					<input class='form-control w3l' id='password0' name='password0' required="true" onkeyup="check();" placeholder='Password' type='password'><span class='glyphicon glyphicon-ok form-control-feedback'></span>
				</div>
				<div class='form-group has-feedback agile'>
					<label class='control-label sr-only' for='referal code'>Referal Code</label> 
					<input class='form-control w3l' id='referal_code' name='referal_code' onkeyup="check();" placeholder='Referal Code' type='text'><span class='glyphicon glyphicon-ok form-control-feedback'></span>
				</div>
				<div class='submit w3-agile'>
					<input class='btn btn-lg' type='submit' value='Register Account'>
				</div>
				<span id="message"></span>
                
				{% for message in messages %}
				<h3 style="color: red;">{{message}}</h3>
				{% endfor %}

				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Already have an account? <a href="/user_login" class="ml-2">Login</a>
					</div>
				</div>
			</form>
		</div>	
	</div>	
	<!-- //agileits -->
	<!-- copyright -->
	<div class="w3-agile-copyright">
	</div>
	<!-- //copyright -->  
	<!-- js -->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/formAnimation.js' %}"></script>
	<script src='{% static "js/shake.js" %}'></script>
	<script>
		var check = function() {
	  if (document.getElementById('password').value ==  document.getElementById('password0').value) {
		document.getElementById('message').style.color = 'white';
		document.getElementById('message').innerHTML = 'matching';
	  } else {
		document.getElementById('message').style.color = 'red';
		document.getElementById('message').innerHTML = 'passwords not matching';
	  }
	}

	
	</script>
	<script>
		function verify(){
	
			var pwd1 = document.getElementById("password").value;
			var pwd2 = document.getElementById("password0").value;
			if (pwd1 != pwd2){
				//alert(" Both Passwords are not matching !!")
				return false
		}
		}
	</script>
	

	<script>
		/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
		//We start indexing at one because CSRF_token is considered and input field 
		 */

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Email..';
		form_fields[3].placeholder='Mobile Number...';
		form_fields[4].placeholder='Enter password...';
		form_fields[5].placeholder='Re-enter Password...';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script> 
	<!-- //js -->
</body>
</html>