{% load socialaccount %}
{% providers_media_js %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Login Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Animated Login Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free Web Designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.min.css' %}" media='all' rel='stylesheet'>
<link href="{% static 'css/style1.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/animate.min.css' %}"> 
<!-- //Custom Theme files -->
<!-- web font -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'><!--web font-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!-- //web font --> 
</head>
<body>
	<!-- main-agileits -->
	<div class="agileits">               
		<h1>Login Form</h1>
		<div class="w3-agileits-info">
			<form class='form animate-form' id='form1' action="" method="POST">
                {% csrf_token %}
				<p class="w3agileits">Login Here</p>
				<div class='form-group has-feedback w3ls'>
					<label class='control-label sr-only' for='username'>Username</label> 
					<input  required="true" class='form-control' id='username' name='username' placeholder='Username' type='text'>
					<span class='glyphicon glyphicon-ok form-control-feedback'></span>
				</div>
				<!-- <div class='form-group has-feedback wthree'>
					<label class='control-label sr-only' for='email'>Email address</label> 
					<input class='form-control' id='email' name='email' placeholder='Email address' type='text'><span class='glyphicon glyphicon-ok form-control-feedback'></span>
				</div> -->
				<div class='form-group has-feedback agile'>
					<label class='control-label sr-only' for='password'>Password</label> 
					<input class='form-control w3l' required="True" id='password' name='password' placeholder='Password' type='password'><span class='glyphicon glyphicon-ok form-control-feedback'></span>
				</div>
				<div class='submit w3-agile'>
					<input class='btn btn-lg' type='submit' value='Login'>
				</div>

                <div style="padding: 10px;">
                    <button><a href="{% provider_login_url 'google' %}">Google Login</a></button>
					<button><a href="{% provider_login_url 'github' %}">Github Login</a></button>
				</div>
				<div class="pt-3">
                    <button><a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook Login</a></button>
				</div>
				{% for message in messages %}

				<p id="messages" >{{message}}</p>
		
				{% endfor %}
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
					</div>
				</div>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						OTP <a href="/mobile_verification" class="ml-2">Login with mobile number</a>
					</div>
				</div>
			</form>
        </div>	

	</div>	
	<!-- //agileits -->
	<!-- copyright -->
	<div class="w3-agile-copyright">
	</div>
	<!-- //copyright -->  
	<!-- js -->
	<script src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
	<script src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/formAnimation.js' %}"></script>
	<script src='{% static "js/shake.js" %}'></script> 
	<!-- //js -->
</body>
</html>