{% extends 'user_template/base_template.html' %}
{% block main_content %}
{% block custom_css %}
{% load static %}

<section class="mid-sec py-5" id="menu">
    <div class="container-fluid py-lg-5">
        <div class="header pb-lg-3 pb-3 text-center">
            <h3 class="tittle mb-lg-3 mb-3">Bigger & Bolder</h3>
        </div>

        <div class="middile-inner-con">
            <div class="tab-main mx-auto text-center">
                    <a href="/cart"><img id="cart-icon" src="{% static 'images/car.png' %}" style="height: 50px; width: 50px;"></a>
                    <p id="cart-total" >{{ cartItems }}</p>
                
                {% for category in categories %}
                    <input hidden id="tab1" type="radio" name="tabs" checked>
                    <label hidden for="tab1"><span class="fa fa-align-center" aria-hidden="true"></span> {{ category.category_name }}</label>
                {% endfor %}
                
                {% for product in products %}

                <section id="content1">
                <div class="row">

                    <div class="col-3">
                        <div class="ab-info ">
                            <div class=" ab-content">
                                <div class="tab-wrap">
                                    <img src="{{ product.imageURL }}" alt="news image" class="thumbnail">
                                    <div class="ab-info-con">
                                        <a href="/product/ {{ product.id }}"> <h4>{{ product.product_name }}</h4></a>
                                        <p class="price">${{ product.price }}</p>
                                        <button data-product="{{ product.id }}" data-action="add" href="" class="read-more scroll btn btn-danger update-cart">Add to Cart </button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </section>

                {% endfor %}

            </div>
        </div>
        </div>
    </div>
</section>


{% endblock custom_css %}

{% endblock main_content %}