{% extends 'user_template/base_template.html' %}
{% block main_content %}
{% block custom_css %}
{% load static %}

<section class="mid-sec py-5" id="menu">
    <div class="container-fluid py-lg-5">
        <div class="header pb-lg-3 pb-3 text-center">
            <h3 class="tittle mb-lg-3 mb-3">Bigger & Bolder </h3>
        </div>

        <div class="middile-inner-con">
            <div class="tab-main mx-auto text-center">
                    <a href="/cart"><img id="cart-icon" src="{% static 'images/car.png' %}" style="height: 50px; width: 50px;"></a>
                    <p id="cart-total" >{{ cartItems }}</p>
                
                {% for category in categories %}
                    <input hidden id="tab1" type="radio" name="tabs" checked>
                    <a hidden href="{% url 'category' vendor.id category.id %}"> {{ category.category_name }}</a>
                {% endfor %}
                <section id="content1">
                    <div class="row">

                {% for product in products %}
             
                
                      <div class="col-md-4 ab-content">
                        <div class="tab-wrap" style="background-color: {{vendor.color_picker}};"  id="box1">
                                    <img src="{{ product.imageURL }}" alt="news image" class="thumbnail" >
                                    <div class="ab-info-con">
                                        <a href="/product/ {{ product.id }}"> <h4>{{ product.product_name }}</h4></a>
                                        {% if product.price >= product.price1 %}
                                            <p class="price">${{ product.price }}</p>
                                        {% else %}
                                        <div class="row " style="padding-left: 150px;">
                                            <p class="price ">${{ product.price }}</p>
                                            <del class="price pt-3" style="padding-left: 10px;">${{ product.price1 }}</del>
                                        </div>
                                        {% endif %}
                                        <button data-product="{{ product.id }}" onclick="add_cart()" data-action="add" href="" class="read-more scroll btn btn-danger update-cart">Add to Cart </button>
                                    </div>
                        </div>

                      </div>


                {% endfor %}
            </div>

            </section>

            </div>

            </div>
   
    </div>
</section>
 

{% endblock custom_css %}
{% block custom_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(function() {
    $('button').click(function() {
      alert("Item added to cart");
    });
 });
</script>
{% endblock custom_js %}
{% endblock main_content %}